<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add dog info</title>
<link rel="stylesheet" type="text/css" media="all"  th:href="@{../styles/styles.css}">
</head>
<body>
<div class="banner">
	<div id="bannerTitle">
		<table>
			<td>
				<img id="bannerImg" th:src="@{/Images/hound_logo.jpg}">
			</td>
			<td>
				<h3>ADD DOG INFO</h3>
			</td>
		</table>
	</div>
</div>
<br/>
	<table id="addDogForm">
	<form th:action="@{/addDog}" th:object="${dogInfo}" method="post">
	
		<tr>
			<th>DOG NAME</th>
			<td><input type="text" th:field="*{name}"><br/></td>
		</tr>
		<tr>
			<th>OWNER NAME</th>
			<td><input type="text" th:field="*{ownerName}"></td>
		</tr>
		<tr>
			<th>DOG BREED</th>
			<td>
				<select th:class="@{select}" th:name="breed">
					<option th:each="breed : ${ListOfBreeds}" th:value="${breed.name}" th:text="${breed.name}">
				</select>
			</td>
		</tr>
		<tr>
			<th>DOG GENDER</th>
			<td colspan="2">
			<input type="radio" th:name="gender" th:id="gender" th:value="Male">MALE</input>
			<input type="radio" th:name="gender" th:id="gender" th:value="Female">FEMALE</input>
			</td>
			
		</tr>
		<tr>
			<th>DOG CLASS / SPECIALTY</th>
			<td colspan="2"><input type="radio" th:name="classSpecialty" th:id="classSpecialty" th:value="class">CLASS</input>
			<input type="radio" th:name="classSpecialty" th:id="classSpecialty" th:value="specialty">SPECIALTY</input>
			</td>
			
		</tr>
		<tr>
			<td colspan="2">
				<input id="submit" type="submit" value="ADD DOG"><br/>	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a id="addDogBack" th:href="@{/}"><span id="addDogBackBtn">BACK</span></a>
			</td>
		</tr>
	
	</form>
	</table>
</body>
</html>